epg pgw node neID

epg node logical-interface li-x1

routing-instance signaling

address 5.16.5.1

epg node interface li-x1 logical-interface 5.16.5.1 port 31335

epg node interface li-x1 port 31335 logical-interface li-x1-if admf admfID address 11.0.3.1 port 1996

epg node interface li-x2 logical-interface li-x2-if

epg pgw lawful-intercept etsi pgw-enabled true


Node:
-----
config
no epg user-plane lawful-intercept transport-layer-security node-credential li-credential5 trust-category li-category5
commit
no epg node lawful-intercept transport-layer-security node-credential li-credential5
no epg node lawful-intercept transport-layer-security trust-category li-category5
commit
no epg node secm certm node-credential li-credential5
no epg node secm
commit
exit


config
no epg user-plane lawful-intercept transport-layer-security node-credential li-credential5 trust-category li-category3
commit
no epg node lawful-intercept transport-layer-security node-credential li-credential3
no epg node lawful-intercept transport-layer-security trust-category li-category3
commit
no epg node secm certm node-credential li-credential3
no epg node secm
commit
exit

 

Tool:
-----
rm -f ca.crt ca.key ca.pem ca.srl epg.crt epg.csr li_ims.crt li_ims.csr li_ims.key list.pem 
# Check key's
openssl rsa -modulus -in li_ims.key -noout | openssl sha256
openssl req -modulus -in li_ims.csr -noout | openssl sha256
openssl x509 -modulus -in li_ims.crt -noout | openssl sha256

 

***********************************************************************************
CREATE TLS:                                                                       *
***********************************************************************************
Tools:
------
openssl genrsa -out ca.key 2048
openssl req -x509 -new -nodes -key ca.key -days 1024 -out ca.crt -subj "/C=SE/O=Ericsson AB/OU=PDU Packet Core/CN=IOV"
openssl genrsa -out li_ims.key 2048
openssl req -new -key li_ims.key -out li_ims.csr -subj "/C=SE/O=Ericsson AB/OU=PDU Packet Core/CN=IOV"
openssl x509 -req -in li_ims.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out li_ims.crt -days 1024

 


Node:
-----
config
epg node secm certm node-credential li-credential3 subject-name "O=Ericsson AB,C=SE,L=Gothenburg,OU=PDU Packet Core,CN=IOV" key-info RSA-2048
commit
epg node secm certm node-credential li-credential3 start-offline-csr-enrollment uri /md/epg.csr
commit
exit
exit

 

Tools:
------
scp erv@vepg30-9:/md/epg.csr .
openssl x509 -req -in epg.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out epg.crt -days 1024
scp epg.crt erv@vepg30-9:/md
scp li_ims.crt erv@vepg30-9:/md
cat li_ims.key li_ims.crt > list.pem
cat ca.key ca.crt > ca.pem

epg node secm certm node-credential li-credential3 install-credential-from-uri uri /md/epg.crt

epg node secm certm trusted-certificate li_ims3
'epg node secm certm trusted-certificate li_ims3 install-trusted-cert-from-uri uri /md/li_ims.crt',
        'epg node secm certm trust-category li-category3 trusted-certificates li_ims3',
        'epg node lawful-intercept transport-layer-security node-credential li-credential3',
        'epg node lawful-intercept transport-layer-security trust-category li-category3'



epg node secm certm node-credential li-credential3

epg node secm certm node-credential li-credential5

epg node secm certm node-credential li-credential5 subject-name "O=Ericsson AB,C=SE,L=Gothenburg,OU=PDU Packet Core,CN=VSMF01" key-info rsa-2048
start-offline-csr-enrollment uri /md/smf.csr
epg node secm certm node-credential li-credential5 install-credential-from-uri uri /md/smf.crt

epg node secm certm node-credential li-credential5 install-credential-from-uri uri /md/smf.crt


epg node secm certm trusted-certificate li_ca

epg node secm certm trusted-certificate li_ca install-trusted-cert-from-uri uri /md/ca.crt


epg node secm certm trusted-certificate li_ims

epg node secm certm trusted-certificate li_ims install-trusted-cert-from-uri uri /md/li_ims.crt


Node:
-----
config
epg node secm certm node-credential li-credential3 install-credential-from-uri uri /md/epg.crt
commit
epg node secm certm trusted-certificate li_ims3
commit
epg node secm certm trusted-certificate li_ims3 install-trusted-cert-from-uri uri /md/li_ims.crt
epg node secm certm trust-category li-category5 trusted-certificates li_ims
epg node lawful-intercept transport-layer-security node-credential li-credential5
epg node lawful-intercept transport-layer-security node-credential li-credential5 trust-category li-category5
commit
epg user-plane lawful-intercept transport-layer-security node-credential li-credential5
epg user-plane lawful-intercept transport-layer-security trust-category li-category5
commit
exit

 


********************************************
RESTART, depending on config and node type *
********************************************

 

SA-PGW:
-------
config
epg sgw node vepg30-9-sgw control-plane session block node
epg pgw node vepg30-9-pgw control-plane session block node
epg user-plane association block node
epg user-plane session block node
commit
epg sgw control-plane session block node
epg pgw control-plane session block node
commit
epg user-plane stop node
epg sgw stop node
epg pgw stop node
commit
epg user-plane network-instance om-cn interface x3 x3-name-default-interface transport dtls
commit

no epg user-plane stop
no epg sgw stop
no epg pgw stop
commit


no epg user-plane association block node
no epg user-plane session block node
no epg sgw control-plane session block node
no epg pgw control-plane session block
commit
exit

 https://pdupc-jira.internal.ericsson.com/projects/PCLIS/queues/custom/838/PCLIS-88


# NOT OK  ?????   no epg pgw control-plane session block node

 

    9  openssl genrsa -out ca.key 2048
10  openssl req -x509 -new -nodes -key ca.key -sha256 -days 365 -out ca.crt -subj "/C=SE/O=Ericsson AB/OU=PDU Packet Core/CN=IOV"



11  openssl genrsa -out server.key 2048
12  openssl req -new -key server.key -out server.csr -subj "/C=SE/O=Ericsson AB/OU=PDU Packet Core/CN=IOV"
13  openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out server.crt -days 365 -sha256 
14  ls


15  openssl genrsa -out client.key 2048
16  openssl req -new -key client.key -out client.csr -subj "/C=SE/O=Ericsson AB/OU=PDU Packet Core/CN=IOV"
17  ls
18  openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out server.crt -days 365 -sha256
19  openssl x509 -req -in client.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out client.crt -days 365 -sha256



END SA-PGW



epg user-plane lawful-intercept transport-layer-security node-credential li-credential3
epg user-plane lawful-intercept transport-layer-security trust-category li-category3


config
epg node internal-debug traceoptions flag li
epg node internal-debug traceoptions debug-level 7
epg node diagnostics trace libli.GtlDebug7
commit 
          
            int i=0;
            for(auto certificate : certificateList.getList())
            {
               certificate->writePemToFile("/tmp/Krille"+std::to_string(i)+".crt");
               i++;
            }




                            int i=0;
            for(auto certificate : newCertificateList.getList())
            {
               certificate->writePemToFile("/tmp/ssc"+std::to_string(i)+".crt");
               i++;
            }

366
                        int i=0;
            for(auto certificate : certificateList.getList())
            {
               certificate->writePemToFile("/tmp/gsc"+std::to_string(i)+".crt");
               i++;
            }
522


            int i=0;
            for(auto certificate : certificateList.getList())
            {
            certificate->writePemToFile("/tmp/tls"+std::to_string(i)+".crt");
            i++;
            }